In [14]:
import pandas as pd
import numpy as np

data = {
    'PassengerId': [1, 2, 3, 4, 5],
    'Name': ['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley',
             'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath',
             'Allen, Mr. William Henry'],
    'Sex': ['male', 'female', 'female', 'female', 'male'],
    'Age': [22, 38, 26, np.nan, 35],
    'SibSp': [1, 1, 0, 1, 0],
    'Parch': [0, 0, 0, 0, 0],
    'Ticket': ['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450'],
    'Fare': [7.25, 71.2833, 7.925, 53.1, 8.05],
    'Cabin': [np.nan, 'C85', np.nan, 'C123', np.nan],
    'Embarked': ['S', 'C', 'S', 'S', 'S']
}

df = pd.DataFrame(data)
df_c = df.copy()
df.head()

,PassengerId,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,"Cumings, Mrs. John Bradley",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,"Futrelle, Mrs. Jacques Heath",female,NaN,1,0,113803,53.1000,C123,S
4,5,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
# We replace null values ​​with the mean
df_c['Age'] = df_c['Age'].fillna(df_c['Age'].mean()).astype(int)

# We remove unnecessary columns
df_c.drop('Parch', axis=1, inplace=True)
df_c.drop('Cabin', axis=1, inplace=True)
# White spaces are removed
df_c['Ticket'] = df_c['Ticket'].str.strip()

# Unnecessary data is removed and the column is divided into first and last name.
df_c['Name'] = df_c['Name'].str.replace(r'(Mr\.|Mrs\.|Mss\.|Master\.|Miss\.)', '', regex=True)
df_c[['LastName', 'FirstName']] = df_c['Name'].str.split(',', expand=True, n=1)
df_c['LastName'] = df_c['LastName'].str.strip()
df_c['FirstName'] = df_c['FirstName'].str.strip()
df_c.drop('Name', axis=1, inplace=True)

print(f'Original data:')
print(df)
print(f'Clean data:')
print(df_c)

Original data:
   PassengerId                          Name     Sex   Age  SibSp  Parch  \
0            1       Braund, Mr. Owen Harris    male  22.0      1      0
1            2    Cumings, Mrs. John Bradley  female  38.0      1      0
2            3        Heikkinen, Miss. Laina  female  26.0      0      0
3            4  Futrelle, Mrs. Jacques Heath  female   NaN      1      0
4            5      Allen, Mr. William Henry    male  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S
Clean data:
   PassengerId     Sex  Age  SibSp            Ticket     Fare Embarked  \
0            1    male   22      1         A/5 21171   7.2500        S
1            2  female   38      1          PC 17599  71.2833        C
2            3  female   26      0  STON/O2. 3101282   7.9250        S
3            4  female   30      1            113803  53.1000        S
4            5    male   35      0            373450   8.0500        S

    LastName      FirstName
0     Braund    Owen Harris
1    Cumings   John Bradley
2  Heikkinen          Laina
3   Futrelle  Jacques Heath
4      Allen  William Henry